## Run every six hours: (https://crontab.guru/#0_*/6_*_*_*)
0 */6 * * * /usr/local/bin/Rscript /Rscript/noaa/launch_download_downscale.R >> /var/log/noaa.log

## Uncomment for a test that runs prints "Hello World!" every 1 minute to this logfile
# * *   * * * /usr/local/bin/Rscript /Rscript/hello_world.R >> /var/log/cron.log

## Weekly (Sunday at midnight)
#0 0 * * 0 /usr/local/bin/Rscript --version

## Daily at 9 am
0 9 * * * /usr/local/bin/Rscript /Rscript/neon_challenge/download.R >> /var/log/download.log

