
data.rquinnthomas.com {

    tls rqthomas@vt.edu
    reverse_proxy minio:9000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up Host {host}
        health_path /minio/health/ready
    }
}

status.rquinnthomas.com {
  tls rqthomas@vt.edu
  reverse_proxy monitor:19999 

}

rstudio.rquinnthomas.com {
  tls rqthomas@vt.edu
  reverse_proxy rstudio:8787 {
    header_up Host {host}
  }
}

shiny.rquinnthomas.com {
  tls rqthomas@vt.edu
  reverse_proxy shiny:3838 {
    header_up Host {host}
  }

}



